main {
    text-align: center;
}

#sloth {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 2s;

}

#sloth:hover {
    transform: scale(1.1);
}

#language-list  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px, 1fr));
    grid-gap: 10px;
}

img {
    width: 50%;
}